.header{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    border-bottom: 1px solid lightgray;
    a{
        color: black;
        text-decoration: none;
    }
}
.logo{
    margin: 10px 30px ;
    font-size: 28px;
    font-weight: 700;

}
.servises{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
 
}
@media(max-width: 380px){
    .servises{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}